@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,400;1,200&family=Rubik&display=swap');
.container{
    font-family: 'Rem';
    width: 6cm;
    margin: 0 auto;
    max-width: 100%;
}

h4{
    text-align: center;
    font-weight: 500;
}

p{
    font-size: small;

}

.price{
    font-size: 1.7rem;
    font-weight: -1;
}

.oldPrice{
    text-decoration: line-through;
}

.mini{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.express{
    background-color: yellow;
    border-radius:29px 6px 20px 32px;
    padding: 5px;
    font-weight: bold;
    
}

.rate{
   color: azure;
   background-color: #39af07;
   border-radius: 15px;
   padding: 5px;
   padding-left: 9px;
   padding-right: 8px;
   font-weight: bold;
}

.n{
   color: grey;;
}


@media(max-width:767px)
{
    .container{
        width: 100%;
    }
}
